<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>1师资保障</string>
	<string>2学习计划</string>
	<string>3移动学习</string>
	<string>4学习方式</string>
	<string>5学习记录</string>
</array>
</plist>
